/************************************
           Custom Styles
*************************************/

#wrap{
	max-width: 980px;
	margin : 0 auto;
}

header{
	background-color: #000;
	color: #fff;
}

#title{
	max-width: 980px;
	margin: 0 auto;
	padding-top: 15px;
}

.panel:first-child{
	margin-top: 0;
}

.panel{
	padding: 10px;
	margin-top: 15px;
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
	box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
}

.panelContent{
	border-top: 3px solid rgba(0, 0, 0, .4);
	padding-top: 15px;
}

.panelContent h1{
	font-size: 5em;
}

#leftColumn{
	float: left;
	width: 100%;
}

#rightColumn{
	float: left;
	width: 100%;
}

.articles{
	border-top: 2px solid rgba(0, 0, 0, .4);
	float: none;
	width: 100%;
	margin-top: 30px;
	padding-top: 10px;
}

.articles:first-child { 
	margin-left: 0; 
}

.articles p{
	font-size: 30px;
	margin: 0;
}

li > .base{
	width: 300px;
}

#content h1{
	font-size: 30px;
	font-weight: bold;
}

.tabs a{
	font-family: sans-serif;
	font-size: 13px;
	text-decoration: none;
}

.tickLabel{
	font-family: sans-serif;
	font-size: 10px;
}

.engagementTable{
	margin-top: 40px;
}

.graph{
	margin-top: 30px;
}

.trafficGraph{
	margin-top: 20px;
}

/************************************
         End Custom Styles
*************************************/

/*    --------------------------------------------------
    Tables
    -------------------------------------------------- */

table { font-family: arial, helvetica, sans-serif; font-weight: normal;
}

th{
	text-align: left !important;
	padding-right: 20px !important;
}

table tbody tr td, table thead tr th { padding: 12px 10px; font-size: .85em; line-height: 1em; border: 1px solid #bbb; border-collapse: collapse; text-align: center; }
table tbody tr td span { margin-left: .4em; font-size: .8em; }
th.segment, td.segment { text-align: left; background: #f5f5f5; }
table.popular th { font-size: .9em; line-height: 1.2em; }
table.popular th.content, table.popular td.content { text-align: left; }
table.popular th span { font-weight: normal; font-size: 0.9em; }

/*    --------------------------------------------------
    Tabs
    -------------------------------------------------- */
dl.tabs { display: block; margin: 0 0 20px 0; padding: 0; height: 30px; border-bottom: solid 1px #ddd; }
dl.tabs dt { display: block; width: auto; height: 30px; padding: 0px 9px 0 20px; line-height: 30px; float: left; color: #999; font-size: 11px; text-transform: uppercase; cursor: default; }
dl.tabs dt:first-child { padding: 0 9px 0 0px; }
dl.tabs dd { display: block; width: auto; height: 30px; padding: 0; float: left; }
dl.tabs dd a { display: block; width: auto; height: 29px; padding: 0px 9px; line-height: 30px; border: solid 1px #ddd; margin: 0 -1px 0 0; color: #555; background: #eee; }
dl.tabs dd a.active { background: #fff; border-width: 1px 1px 0px 1px; height: 30px; }

.nice.tabs { border-bottom: solid 1px #eee; margin: 0 0 30px 0; height:43px; }
.nice.tabs dd a { padding: 7px 18px 9px; font-size: 15px; font-size: 1.5rem; color: #555555; background: none; border: none; }
.nice.tabs dd a.active { font-weight: bold; color: #333; background: #fff; border-left: 1px solid #eee; border-right: 1px solid #eee; border-top: 3px solid #00a6fc; margin: 0 10px; position: relative; top: -5px; }
.nice.tabs dd:first-child a.active { margin-left: 0; }

dl.tabs.vertical { height: auto; }
dl.tabs.vertical dt, dl.tabs.vertical dd, dl.nice.tabs.vertical dt, dl.nice.tabs.vertical dd { float: none; height: auto; }
dl.tabs.vertical dd a { display: block; width: auto; height: auto; padding: 15px 20px; line-height: 1; border: solid 0px #ccc; border-width: 1px 1px 0px; margin: 0; color: #555; background: #eee; font-size: 15px; font-size: 1.5rem; }
dl.tabs.vertical dd a.active { height: auto; margin: 0; border-width: 1px 0px 0px; background: #fff; }
	
/* tabs override*/
.tabs { font-size: 1em; }
.tabs a.active { font-weight: bold; }
.nice.tabs { border-bottom: solid 1px #bbb; margin: 15px 0 30px 0; height:43px; }
.nice.tabs dd a { padding: 7px 18px 9px; color: #555; background: #eee; border-left: 1px solid #bbb; border-left: 1px solid #bbb; border-top: 1px solid #bbb; margin: 0; position: relative; top: -3px; }
.nice.tabs dd a.active { color: #000; background: #eee; border-left: 1px solid #bbb; border-right: 1px solid #bbb; border-top: 3px solid #333; }
.nice.tabs dd:first-child a { border-right: 0; }
.nice.tabs dd:last-child a { border-right: 1px solid #bbb; }
.nice.tabs dd a:hover, .tabs a:hover { background: #ccc; color: #444; }
.nice.tabs dd a.active, .nice.tabs dd a.active:hover, .tabs a.active { margin: 0; background: #fff; color: #000; }
.tabs a:hover { text-decoration: none; }

/*End Tabs*/
    
ul.tabs-content { margin: 0; display: block; }
ul.tabs-content > li { display:none; }
ul.tabs-content > li.active { display: block; }

dl.contained, dl.nice.contained { margin-bottom: 0px; }
dl.contained.tabs dd a { padding: 0px 14px; }
dl.nice.contained.tabs dd a { padding: 7px 18px 9px; }

ul.contained.tabs-content { padding: 0; }
ul.contained.tabs-content li { padding: 20px; border: solid 0px #ddd; border-width: 0px 1px 1px 1px; }
ul.nice.contained.tabs-content li { border-color: #eee; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, caption {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: Georgia, serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

#content{
	overflow: hidden;
	margin-top: 20px;
	padding: 0 10px;
	margin-bottom: 30px;
}

audio[controls], canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.sans-serif {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.serif {
    font-family: "Cambria,  Georgia,  Times,  " Times New Roman;
}

.monospace {
    font-family: "Monaco", Courier New, monospace;
}

.clearfix {
    zoom: 1;
    margin: 0;

}
.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    
}

.clearfix:after {
    clear: both;
   
}

html {
    overflow-y: scroll;
    background: #ffffff;
    font-size: 62.5%;
}

button, input, select, textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #404040;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 0.75em;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1.2;
}

h2 {
    margin-bottom: 0.75em;
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 1.2;
}

h3 {
    margin-bottom: 1em;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.3;
}

h4 {
    margin-bottom: 1em;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.25;
    text-transform: uppercase;
}

h5 {
    margin-bottom: 1.5em;
    font-size: 16px;
    font-size: 1.6rem;
}

h6 {
    font-size: 16px;
    font-size: 1.6rem;
}

p, ol, ul, address {
    margin-bottom: 1.5em;
    font-size: 16px;
    font-size: 1.6rem;
}

p {
    hyphens: auto;
    text-align: justify;
}

ul, ol {
    margin: 0 0 1.5em -24px;
    padding: 0 0 0 24px;
}

li ul, li ol {
    margin: 0;
    font-size: 16px;
    font-size: 1.6rem;
}

dl, dd {
    margin-bottom: 1.5em;
}

dt {
    font-weight: normal;
}

blockquote {
    margin: 0 0 1.5em -24px;
    padding-left: 24px;
    border-left: 1px solid #bfbfbf;
    font-style: italic;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

abbr[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #bfbfbf;
}

ins {
    background-color: #c3d9e6;
    color: #000000;
    text-decoration: none;
}

mark {
    background-color: #c3d9e6;
    color: #000000;
    font-style: italic;
    font-weight: bold;
}

pre, code, kbd, samp {
    font-family: "Monaco", Courier New, monospace;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.5em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before, q:after {
    content: "";
    content: none;
}

small {
    font-size: 14px;
    font-size: 1.4rem;
}

sub, sup {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

a {
    color: #013568;
}

a:visited {
    color: #011b35;
}

a:hover {
    color: #011b35;
}

a:focus {
    outline: thin dotted;
    color: #011b35;
}

a:hover, a:active {
    outline: 0;
}

figure {
    margin-bottom: 1.5em;
}

figure img, figure object, figure embed {
    margin-bottom: 0.75em;
    max-width: 100%;
}

figcaption {
    display: block;
    font-weight: normal;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1.5em;
    width: 100%;
    font-size: 14px;
    font-size: 1.4rem;
}

tfoot {
    font-style: italic;
}

caption {
    background-color: transparent;
}

form {
    margin: 0;
}

fieldset {
    margin-bottom: 1.5em;
    padding: 0;
    border-width: 0;
}

legend {
    *margin-left: -7px;
    padding: 0;
    border-width: 0;
}

label {
    font-weight: normal;
    cursor: pointer;
}

button, input, select, textarea {
    font-size: 12px;
    font-size: 1.2rem;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button, input {
    line-height: normal;
    *overflow: visible;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
}

input[type="search"] {
    box-sizing: content-box;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

html {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: #c3d9e6;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

::-webkit-selection {
    background: #e6e6e6;
    color: #fafafa;
    text-shadow: none;
}

::-moz-selection {
    background: #7bacc8;
    color: #c8977b;
    text-shadow: none;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
}

::-webkit-input-placeholder {
    font-size: 14px;
    font-size: 1.4rem;
}

input:-moz-placeholder {
    font-size: 14px;
    font-size: 1.4rem;
}

.ie7 img, .iem7 img {
    -ms-interpolation-mode: bicubic;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

p {
    -webkit-hyphens: auto;
    -webkit-hyphenate-character: "\2010";
    -webkit-hyphenate-limit-after: 1;
    -webkit-hyphenate-limit-before: 3;
    -moz-hyphens: auto;
}

.ir {
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    text-indent: -999em;
    direction: ltr;
}

.ir br {
    display: none;
}

.hidden {
    display: none;
    visibility: hidden;
}

.visuallyhidden {
    position: absolute;
    margin: -1px;
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    position: static;
    margin: 0;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
}

.invisible {
    visibility: hidden;
}

@media print {
    * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
}
 @page  {
    margin: 0.5cm;
}
h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
}
 p {
    orphans: 3;
    widows: 3;
}
 pre, blockquote {
    border: 1px solid #808080;
    page-break-inside: avoid;
}
 abbr[title]:after {
    content: " (" attr(title) ")";
}
 a, a:visited {
    color: #000000 !important;
    text-decoration: underline;
}
 a[href]:after {
    content: " (" attr(href) ")";
}
 a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
}
 img {
    max-width: 100% !important;
    page-break-inside: avoid;
}
 thead {
    display: table-header-group;
}
 tr {
    page-break-inside: avoid;
}
 .ir a:after {
    content: "";
}
}
@media only screen and (min-width: 480px) {

#leftColumn{
	width: 100%; 
}

#rightColumn{
	width: 100%;
	padding-left: 0;
}

.panelContent{
	width: 100%;
}

.graph{
	width: 100%;
	float: right;
}

.graph{
	margin-top: 40px;
	float: left;
}


}
@media only screen and (min-width: 600px) {

#leftColumn{
	width: 100%; 
}

#rightColumn{
	width: 100%;
	padding-left: 0;
}

.panelContent{
	width: 100%;
}

.graph{
	margin-top: 40px;
	float: left;
}

}
@media only screen and (min-width: 768px) {

#leftColumn{
	width: 56.5%; 
}

#rightColumn{
	width: 39.1%;
	padding-left: 4.4%;
}

.panelContent{
	width: 56.5%;
	float: left;
}

.graph{
	width: 39.1%;
	float: right;
	padding-left: 4.4%;
}

.articles:first-child{
	width: 47.8%;
	float: left;
	margin-left: 0;
}

.articles{
	width: 47.8%;
	float: left;
	margin-left: 4.4%;
	margin-top: 0;
}

.trafficGraph{
	margin-top: 0;
}


@media only screen and (min-width: 992px) {

#content{
	padding: 0;
}

}
@media only screen and (min-width: 1382px) {



}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (-o-min-device-pixel-ratio: 3/2), 
only screen and (min-device-pixel-ratio: 1.5) {

}